/* HELPERS */
.container{
    width: 90vw;
    margin: auto;
}
/* GRID */
.grid{
    display:grid;
}
.pics-gallery.grid{
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 200px;
}
.meme-editor.grid{
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(285px,1fr));
}

/* FLEX */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-col{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    color: rgba(124, 124, 124, 0.863);
}
.flex-reverse{
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}
