/* FONTS */
@font-face {
    font-family: impact;
    src: url(../fonts/impact.ttf);
}
/* BASE */
*{
    box-sizing: border-box;
}
html{
    font-family: impact ,sans-serif;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1;
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
}
canvas{
    display: block;
}
/* HELPERS */
.container{
    width: 95vw;
}
/* GRID */
.grid-gallery{
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 200px;
}
.grid{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/* HEADER */
.main-header{

}
.logo{

}
.main-nav{

}
/* MAIN */
.main-container{
    margin: 0 auto;
    width: 95vw;
}
/* GALLERY */
.pics-gallery{
    
}
.pics-gallery div{
    display: block;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
/* EDITOR */
.meme-editor{
    display: none;
}
.try{
    /* width: 100%;
    height: 100%; */
}
.aspect-ratio-holder{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.canvas-container{
position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* FOOTER */
.main-footer{
    text-align: center;
}