@import "./base.css";
@import "./layout.css";
@import "./editor.css";
/* HEADER */
.main-header{
    margin: 10px auto;
}
.logo{
}
/* NAV */
.main-nav{
}
.main-nav img{
    width: 1.5rem;
    margin: 0.312rem;
    cursor: pointer;
}
.nav-btn{
    outline: none;
    border: none;
    background-color: white;
    font-size: 1.5rem;
}
/* MAIN */
.main-container{
}
/* SEARCH */
.search-box{
    display: none;
    flex-wrap: wrap;
    margin-bottom: 10px ;
}
.search-box > a{
    align-self: center;
    display:inline-block;
    margin-left: 0.8rem;
    cursor: pointer;
    font-family: ubuntu;
}
.search-input{
    align-self: flex-start;
    width: 19rem;
    margin: 0.8rem 0 0.8rem 0.8rem;
    background-color: #fff;
    border: 1.5px black solid;
    height: 1.5rem;
}
/* GALLERY */
.unsaved-warning-modal{
    display: none;
    text-align: center;
    border: 1.5px black solid;
    background-color: rgb(235, 85, 85);
    position: absolute;
    font-size: 1.2rem;
    z-index:1;
    width: 100%;
    top: 30vh;
    padding: 10px 0;
}
.unsaved-warning-modal button{
    background-color: #fff;
border: 1.5px black solid;
outline: none;

}
.pics-gallery{
}
.pics-gallery div{
    cursor: pointer;
    display: block;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    height: 100%;
}
/* FOOTER */
.main-footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-top: 2rem;
}

/* MEDIA QUERIES */
/* TABLET */
@media (max-width:45rem){
.canvas-container{
    max-height: 100%;
}
}
/* SMARTPHONE */
@media (max-width:27rem){
.main-nav.flex{
    align-self: flex-end;
    flex-flow: column;
    align-items: flex-start;
}
.main-nav{
    margin-right: 1rem;
}
.main-header.flex{
    align-items: flex-start;
}
}